/* impostazioni generali (assegnate con frequenza) */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select{
  background-color: white;
  border: 0 none transparent;
}

a{
  color: white;
  text-decoration: none;
}

hr{
  border-style: inset;
}

/* colori principali */
.cl-o{
  background-color: orange;
}
.cl-b{
  color: black;
}
/* /colori principali/ */

.container{
  width: 80%;
  margin: auto;
}

.button{
  background-color: orange;
  padding: 20px 30px;
  text-transform: uppercase;
  border-radius: 10px;
}
.button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.button-top{
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: white;
  color: orange;
  border: 1px solid orange;
  margin-left: 20px;
  margin-right: 20px;
}
.button-top:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.button-top-2{
  background-color: orange;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
}
.button-top-2:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.button-g{
  text-align: center;
  color: green;
  background-color: lightgray;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 10px;
}

/* float */
.fl{
  float: left;
}
.fr{
  float: right;
}
/* /float/ */
/* clearfix */
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
/* /clearfix/ */
body{
  background-color: white;
}
main{
  height: 1900px;
}
/* /impostazioni generali (assegnate con frequenza)/ */


/* header */
/* nav */
.navbar{
  font-size: 10px;
  text-transform: uppercase;
  line-height: 80px;
}
.navbar-top{
  border-bottom-style: solid;
  border-color: #4d4d4d;
  border-bottom-width: thin;
  background-color: #f2f2f2;
}
.m-l-padding{
  border-left: 1px solid gray;
  padding-left: 20px;
  margin-left: 20px;
}
#sel-lan{
  background-color: #f2f2f2;
}
.navbar-lower{
  padding-top: 20px;
  background-color: white;
}
#lower-bar{
  position: relative;
  bottom: 10px;
}
/* /nav/ */

/* banner */
.bnr{
  height: 760px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
}
.bnr-cnt{
  text-align: left;
}
.bnr-cnt p{
  font-size: 110%;
  line-height: 2;
}
.bnr-cnt h1{
  font-size: 3em;
  line-height: 1;
  margin-top: 80px;
  margin-bottom: 50px;
  color: black;
}
.bnr-cnt a{
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}
/* /banner/ */

/* divisore */
.divisore{
  height: 50px;
  border-color: #4d4d4d;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-top-style: solid;
  border-top-width: medium;
  background-color: #00b3b3;
}
/* /divisore/ */
/* /header/ */


/* footer */
footer{
  padding: 10px;
  color: white;
  background-color: #004d4d;
}

.ftr-top{
  padding-top: 50px;
}

.link-utili > h3{
  padding-right: 150px;
  padding-bottom: 20px;
}
.link-utili > a{
  line-height: 40px;
  display: block;
}
.link-utili .button-g{
  margin-top: 10px;
  margin-bottom: 10px;
}

.ftr-lower{
  margin-top: 80px;
  margin-bottom: 40px;
}

.ftr-lower a{
  padding: 20px;
}
.lingue{
  text-align: center;
  position: relative;
  bottom: 20px;
}

.ftr-logo{
  margin-top: 20px;
}
.legal-stuff{
  position: relative;
  top: 20px;
}
/* /footer/ */
